*.img
*.swp
*.log
*_save
*.shasum
*.pyc
galaxy2singularity.ini
images
execute.ini
execute.ini.save
execute_workflow.ini
import_from_instance.ini
import_from_worflow.ini
citar_galaxy_example
citar_galaxy_example.tar.gz
test.ini
test/output/*
test/input/ref.fa.fai
data/*
